body>div{
  background: var(--color-primary);
  overflow: hidden;
}
.MuiDialog-root, .MuiModal-root{
  background-color: transparent;
}
.departure-advisor-background{
  width: 100%;
  height: 178px;
  background: var(--color-primary);
}

.route-profile{
  position: relative;
  height: calc(100vh - 49px);
  display: flex;

  @media screen and (orientation: portrait) {
    flex-direction: column;
    height: calc(100vh - 49px);
  }
  .tabs{
    position: relative;
    height: calc(100vh - 170px);
    z-index: 800;
    // height: calc(100vh - 150px);
    @media screen and (orientation: portrait) {
      position: relative;
      flex-direction: row;
      height: 50px;
      max-width: 100%;
      width: 100%;
      padding: 10px 0;
    }
    @media screen and (orientation: landscape) {
      flex-direction: column;
    }
    @media screen and (max-height: 500px) {
      height: calc(100vh - 49px);
      z-index: 900;
    }
  }
  .route-profile-container{
    width: calc(100vw - 12px);
    background-color: var(--color-primary);
    border-radius: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    position: relative;
    @media screen and (max-width: 500px) {
      width: 100vw;
      height: 100%;
    }
    @media screen and (orientation: portrait){
      width: calc(100vw);
    }
    @media screen and (orientation: landscape) {
      width: calc(100vw - 80px);
    }

    .route-profile-header{
      display: flex;
      justify-content: space-between;
      overflow-x: auto;
      .header-left{
        margin-left: 36px;
        @media screen and (max-width: 500px) {
          margin-left: 0;
        }
      }
      .select-chart-type{
        color: whitesmoke;
        margin: 8px 24px;
        display: flex;
        flex-direction: row;

        @media screen and (max-width: 900px) {
          justify-content: space-evenly;
          margin: 8px 8px;
        }

        .css-j204z7-MuiFormControlLabel-root{
          @media screen and (max-width: 900px) {
            margin: 2px 2px;
          }          
        }

        .MuiRadio-colorPrimary{
          color: whitesmoke;
        }
      }
      .header-right{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-right: 24px;
        align-items: center;
        @media screen and (max-width: 500px) {
          margin-right: 4px;
        }
        .select-altitude{
          display: flex;
          flex-direction: row;
          color: white;
          border: 1px solid white;
          overflow: hidden;
          border-radius: 5px;
          height: 33px;
          margin: 4px;
          align-items: center;
          .btn-altitude{
            background-color: var(--color-yellow);
            color: var(--color-dark);
            height: 100%;
            width: 18px;
            border: none;
            padding: 0;
            font-size: 14px;
            font-weight: bold;
            cursor: pointer;
          }
          .label-altitude{
            margin: 0 4px;
          }
        }
      }
      .input_radio_container{
        margin: 8px;
        @media screen and (max-width: 900px) {
          margin: 4px;
        }
      }
      .MuiToggleButtonGroup-root{
        margin: 8px;
        border: 1px solid white;
        border-radius: 5px;
        @media screen and (max-width: 900px) {
          margin: 4px;
        }
      }
      .MuiToggleButton-root{
        padding: 8px 4px;
        min-width: 36px;
        color: whitesmoke;
        line-height: 1;
        font-weight: 400;
      }
      .MuiToggleButton-root.Mui-selected{
        background-color: var(--color-yellow);
        color: var(--color-dark);
      }
      .RadioButton_radio__label__container__mLRn4 {
        padding: 8px 4px;
        min-width: 36px;
        @media screen and (max-width: 500px) {
          margin: 0;
          padding: 8px 2px;
          min-width: none;
        }
      }
    }
    .label-chart{
      display: flex;
      flex-direction: row;
      .fixed-label{
        display: flex;
        flex-direction: column;
        color: white;
        justify-content: space-between;
        padding-bottom: 68px;
        padding-top: 32px;
        margin-left: 2px;
        margin-right: 2px;
        &.left{
          text-align: right;
        }
        &.right{
          margin-right: 8px;
          margin-left: 0;
        }
      }
    }
    &.touch{
      ::-webkit-scrollbar{
        width: 0px;
        height: 0px;
      }
    }
    ::-webkit-scrollbar{
      height: 8px;
      color: var(--color-primary);
    }
    ::-webkit-scrollbar-thumb {
      background: var(--color-secondary);
    }
    .route-profile-chart-container{
      margin: 4px;
      @media screen and (max-width: 940px){
        overflow-x: auto;
        overflow-y: hidden;
        &>no-touch{
          ::-webkit-scrollbar{
            height: 4px;
          }
        }
      }
      @media screen and (max-width: 500px) {
        margin: 0;
      }
      .scrollable-chart-content{
        @media screen and (max-height: 680px) {
          height: calc(100vh - 200px);
        }
      }
      @media screen and (max-width: 900px) {
        ::-webkit-scrollbar-thumb {
          overflow-x: auto;
          background: transparent;
        }
      }
      .windspeed-text {
        fill: white;
        font-weight: 600;
      }
      .chart-tooltip, .turbulence-tooltip, .icing-tooltip {
        background-color: #ffffffdd;
        border-radius: 4px;
        border: #ff4444 solid 1px;
        display: flex;
        flex-direction: column;
        padding: 4px 14px;
        color: black;
        margin: 12px;
        line-height: 1.5;
      }
      .time-tooltip {
        background-color: #ffffffdd;
        border-radius: 4px;
        border: #ff4444 solid 1px;
        display: flex;
        flex-direction: column;
        padding: 4px 14px;
        color: black;
        margin-bottom: -16px;
        margin-left: 20px;
        line-height: 1.5;
      }
      .airport-hint {
        pointer-events: all;
      }
      .nodata-msg {
        font-size: 1.0rem;
        width: 280px;
        color: white;
        padding: 10px 20px;
        background: #3339;
        border-radius: 6px;
        text-align: center;
      }
    }
  }
  .data-loading{
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 98%;
    border-radius: 8px;
    margin-top: 2px;
    margin-right: 8px;
    margin-bottom: 32px;
    background: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
