.hero {
  p, h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
  }
  &__slider {
    position: relative;
    height: 0;
    padding-bottom: 25%;

    @media (max-width: 1024px) {
      padding-bottom: 40%;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-dark);
      opacity: 0.3;
      z-index: 1;
    }
  }

  &__slider__content {
    position: relative;
    z-index: 2;
    text-align: center;
    transform: translateY(50%);
    padding: 12px 10%;

    @media (max-width: 991px) {
      transform: translateY(20%);
    }
  }

  &__title {
    color: var(--color-white);
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 4vh;

    @media (max-width: 991px) {
      font-weight: 400;
      font-size: 40px;
    }
  }

  &__subtitle {
    font-size: 3vh;
    color: var(--color-white);
    margin-bottom: 30px;

  }

  &__img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
  }

}
.main {
  min-height: calc(100vh - 136px);
}
.content-page {
  overflow: auto;
  height: calc(100vh - 48px);
  .img-content-background {
    position: absolute;
  }
  .content-container {
    z-index: 10;
    position: relative;
    text-align: center;
    padding: 40px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 500px) {
      padding: 20px 0;
    }
    p, h1 {
      color: white;
    }
    h1 {
      font-size: 1.8rem;
    }
    p {
      font-size: 1.2rem;
      margin: 20px;
    }
    button {
      margin: 20px;
    }
  }
}

.contact-us, .support {
  justify-content: center;
  min-height: calc(100vh - 216px);
  padding: 40px 15%;

  .descriptions {
    span {
      font-family: bahnschrift;
    }
    .card-body {
      padding: 1rem;
    }
    .card-title {
      font-size: 30px;
      color: white;
      font-weight: 400;
      margin-bottom: 16px;
    }
    .card-text {
      font-size: 18px;
      color: #d1d5d8;
      margin-bottom: 16px;
      a {
        text-decoration: underline !important;
        color: #886ab5;
      }
    }
    .read-faq {
      color: #886ab5;
      font-family: bahnschrift;
      font-size: 13px;
    }
  }
  .form-container {
    box-shadow: 0px 0px 13px 0px rgba(74, 53, 107, 0.08);
    background-color: white;
    border-radius: 4px;
    .card-body {
      padding: 1rem;
      .form-text {
        background-color: #f3f1f5;
        padding: 1rem 1.25rem;
        margin-bottom: 2rem;
        border: 1px solid #d6d3da;
        border-radius: 4px;
        color: #505050;
      }
    }
  }
}
.contact-us {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 80px;
  padding: 40px 10%;
  @media (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.support {
  @media (max-width: 500px) {
    padding: 40px 5%;
  }
}
.social-area{
  padding: 1rem;
  color: white;
  .find-us {
    color: #868e96;
    margin-left: 8px;
  }
  .social-icon-area {
    display: flex;
    svg {
      width: 24px;
      height: 24px;
      color: #886ab5;
      margin: 8px;
    }
  }
}
.eula {
  max-width: 1140px;
  background-color: white;
  margin: 40px auto;
  padding: 2rem;
  border-radius: 4px;
  .subheader {
    margin-bottom: calc(1.5rem + 0.625rem);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: bahnschrift;
    color: #666666;
    font-size: 0.9375rem;
    font-weight: 300;
    .subheader-title {
      font-size: 1.375rem;
      font-weight: 500;
      color: #505050;
      text-shadow: #fff 0 1px;
      margin: 0;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
    }
  }
  .text-uppercase {
    text-transform: uppercase;
  }
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.3;
    font-weight: 400;
    margin-bottom: .5rem;
  }
  h3, .h3 {
    font-size: 1.1875rem;
  }
  .mb-g {
    margin-bottom: 1.5rem;
    font-family: bahnschrift;
    color: #666666;
    font-size: 0.9375rem;
    font-weight: 300;
  }
  a[target] {
    font-weight: 500;
    border-bottom: 1px dashed #a38cc6;
  }
  a {
    text-decoration: none;
    touch-action: manipulation;
    color: #886ab5;
    font-size: 0.9375rem;
  }
}

.faq {
  background-color: white;
  min-height: calc(100vh - 216px);
  padding: 40px 20px;
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.3;
    font-weight: 400;
    margin-bottom: .5rem;
    font-family: bahnschrift;
    color: #666666;
  }
  h1, .h1 {
    font-size: 1.5rem;
  }
  .faq-contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0;
    padding: 20px;
    @media (max-width: 500px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .faq-categories {
    border: 1px solid #ddd;
    margin: 0 12px 32px 12px;
    box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
    width: 280px;
    button {
      white-space: nowrap;
      text-align: left;
      text-transform: none;
      font-weight: 500;
      font-size: 0.8125rem;
      align-items: start;
      position: relative;
      display: block;
      margin: 0;
      padding: 13px 16px;
      background-color: #fff;
      border: 0;
      border-bottom: 1px solid #ddd;
      border-radius: 0;
      color: #616161;
      transition: background-color .2s ease;
    }
    .Mui-selected {
      color: #fff;
      background-color: #886ab5;
    }
  }
  .faq-questions-panel {
    width: calc(100vw - 404px);
    padding: 0 12px;

    @media (max-width: 500px) {
      width: calc(100%);
    }
    .faq-qa {
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid rgba(0,0,0,.08);
      border-radius: 4px;
      margin: 0;
      .faq-question {
        padding: 0 4px;
        margin: 0;
        padding: 0;
        border-bottom: 0;
        background-color: #f7f9fa;
        min-height: 32px;
        &>div{
          margin: 0;
        }
        h4 {
          padding: 12px;
          margin: 0;
          font-weight: 400;
          color: #886ab5;
        }
      }
      .faq-answer {
        padding: 12px;
        p{
          font-family: bahnschrift;
          color: #666666;
        }
        a{
          font-size: 0.8125rem;
          font-family: bahnschrift;
          color: #886ab5;
          text-decoration: underline;
        }
      }
    }
  }
  .not-find {
    h4 {
      font-size: 1.0625rem;
      line-height: 1.3;
      font-weight: 400;
      small {
        font-size: 0.875rem;
      }
    }
    a{
      color: #886ab5;
      text-decoration: underline;
    }
  }
}

.reset-password {
  background-color: #504D7F;
  margin: auto;
  text-align: center;
  .description {
    padding: 40px 20px;
    h3 {
      color: white;
      font-family: bahnschrift;
      font-size: 1.75rem;
      margin-bottom: 10px;
      font-weight: 500;
    }
    h1 {
      color: white;
      font-family: bahnschrift;
      font-size: 1.1875rem;
      opacity: 0.6;
    }
  }
  .form-area {
    max-width: 550px;
    margin: auto;
    @media (max-width: 500px) {
      width: calc(100% - 3rem);
    }

    form {
      text-align: left;
      max-width: 500px;
      @media (max-width: 500px) {
        max-width: calc(100% - 3rem);
      }
      input:disabled {
        background-color: #E0E0E0;
      }
      .email-error-message {
        font-size: 13px;
        a {
          font-size: 13px;
        }
      }
      .btn-submit {
        display: flex;
        justify-content: flex-end;
        button {
          font-size: 1.2rem;
          height: 40px;
        }
      }
    }
  }
  .success {
    color: white;
    font-family: bahnschrift;
    font-size: 1.1875rem;
    opacity: 0.8;
    padding-top: 40px;
    a {
      font-size: 1.1875rem;
      font-family: bahnschrift;
      color: #886ab5;
      text-decoration: underline;
    }
  }
}