//leaflet override
.leaflet-touch .leaflet-bar{
  // top: 40px;
  // right: 50%!important;
  // box-shadow: none;
  border: 0!important;

  @media screen and (max-width: 768px) {
    // right: 30%!important;
  }
}

.leaflet-top{
  // z-index: 400!important;
}

.leaflet-touch .leaflet-bar a{
  background-color: var(--color-white)!important;
  height: 44px!important;
  width: 44px!important;
  border-radius: 4px!important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0!important;

  &:first-child{
    margin-bottom: 2px!important;
  }
}

.map__container{
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  // display: -webkit-inline-box;
  .departure-advisor{
    background-color: transparent;
  }
}

@mixin stroke($color: #000, $size: 1px) {
  text-shadow:
    -#{$size} -#{$size} 0 $color,
     0        -#{$size} 0 $color,
     #{$size} -#{$size} 0 $color,
     #{$size}  0        0 $color,
     #{$size}  #{$size} 0 $color,
     0         #{$size} 0 $color,
    -#{$size}  #{$size} 0 $color,
    -#{$size}  0        0 $color;
}

.my-labels{
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  font-weight: 700 !important;
  font-family: Roboto;
  line-height: 0.8rem;
  font-size: 0.9rem;
  text-align: center;
  @include stroke(#FFFFFF, 1px);
  white-space: pre-line;
  width: 100px;
}


.Map_map__vPSDC{
  height: calc(100vh - 72px)!important;
  @media screen and (max-width: 1024px) {
    @media (orientation: portrait) {
      height: calc(100vh - 120px)!important;
    }
    @media (orientation: landscape){
      height: calc(100vh - 50px)!important;
    }
  }

}

.feature-selector-item{
  margin: 3;
  cursor: pointer;
  display: flex;

  &-icon{
    width: 48px;
    height: 48px;
    transform: scaleY(-1);
    margin: 0 8px 0 0;
  }
}

.pirep-icon {
    // width: 44px !important;
    // height: 38px !important;
    -ms-border-radius: 0.2rem;
    border-radius: 0.2rem;
    background-color: #ffffff;
    padding: .05rem;
    text-align: center;
}

.pirep-span {
    font-weight: bold;
    color: #000000;
}
.pirep-unk-span {
    font-size: xx-small;
    font-weight: bold;
    color: #000000;
}
.pirep-left-icon {
    border-right-color: gray;
    border-right-style: ridge;
    border-right-width: 1px;
}
.MuiTypography-body2{
  @media screen and (max-width: 1024px){
    font-size: 085rem !important;
  }
  @media screen and (max-width: 650px){
    font-size: 0.75rem !important;
  }
}
.leaflet-bar-timecontrol{
  display: contents;
}

.metar-ceiling-icon {
    width: 50px !important;
    height: 20px !important;
    -ms-border-radius: 1.1rem;
    border-radius: 1.1rem;
    background-color: #808080;
    text-align: center;
}

.metar-visibility-icon{
    width: 54px !important;
    height: 20px !important;
    -ms-border-radius: 1.1rem;
    border-radius: 1.1rem;
    background-color: #808080;
    text-align: center;
}

.metar-temperature-icon {
    width: 28px !important;
    height: 28px !important;
    border-radius: 2rem;
    text-align: center;
    color: white;
    font-size: 15px;
    padding: 0.2rem;
    font-weight: bold;
    line-height: 26px;
}

.metar-wind-icon {
    width: 26px !important;
    height: 26px !important;
    border-radius: .5rem;
    text-align: center;
    color: white;
    font-size: 14px;
    padding: 0.2rem;
    font-weight:bold;
    line-height: 26px;
}

.metar-personal-mins {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  &.red {
    background-color: red;
  }
  &.green {
    background-color: green;
  }
  &.yellow {
    background-color: yellow;
  }
  &.blue {
    background-color: blue;
  }
}

.metar-weather-icon {
    text-align: center;
}

.black {
    background-color: #000000;
}

.c10000 {
    background-color: #c10000;
}

.cc0000 {
    background-color: #cc0000;
}

.fe0000 {
    background-color: #fe0000;
}

.f79749 {
    background-color: #f79749;
}
.FEBE00 {
    background-color: #FEBE00;
}
.ffbf00 {
    background-color: #ffbf00;
}

.lightGreen {
    background-color: #92d14f;
}

.darkerGreen {
    background-color: #00af4f;
}

.lightBlue {
    background-color: #0098fe;
}

.darkerBlue {
    background-color: #3532ff;
}

.purple {
    background-color: #7130a2;
}

.magenta {
    background-color: #990299;
}

.cc0199 {
    background-color: #cc0199;
}

.popup-content{
  display: block;
  @media screen and (max-height: 500px) and (orientation: landscape){
    max-height: 220px;
    overflow-y: auto;
  }
}