  .layer-control-container{
    right: 54px;
    top: 54px;
  }

  .layer-control{
  background-color: var(--color-primary);
  border-radius: 8px;
  overflow: hidden;
  min-width: 240px;

  &__header{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 10px;
    margin-bottom: 0px;
    border-bottom: 1px solid var(--color-white);

    h3{
      color: var(--color-white);
      font-size: 20px;
      font-weight: 600;
    }
  }
  .btn-close{
    position: absolute;
    font-size: 18px;
    color: white;
    right: 8px;
    top: 4px;
    cursor: pointer;
  }
  &-contents{
    margin: 8px 2px;
  }
  &-item {
    color: var(--color-white);
    & .MuiAccordionSummary-root{
      min-height: var(--layer-control-item-height);
    }
    .flight-category-filters{
      display: contents;
      label{
        margin-left: 0px;
      }
    }
  }
  .MuiPaper-elevation1{
    color: var(--color-white);
    box-shadow: none;
    background-color: var(--color-primary);
    p{
      color: var(--color-white);
      // font-size: 13px;
      font-weight: 600;
    }
  }

  .MuiAccordionSummary-expandIcon{
    height: 8px!important;
    // width: 20px!important;
    .MuiSvgIcon-root{
      color: var(--color-white);
    }
    
  }
  .PrivateRadioButtonIcon-root-5{

    svg{
      height: 18px!important;
      width: 18px!important;
    }
  }

  .MuiFormControlLabel-root{
    height: 24px;
  }

  .PrivateRadioButtonIcon-root-8 > svg{
    width: 18px;
    height: 18px;
  }

  .PrivateSwitchBase-root-1{
    color: var(--color-white);
    // padding: 4px!important;
  }
  .MuiIconButton-root{
    margin:2px 4px 2px 4px;
  }
  .MuiCheckbox-colorPrimary{
    color: var(--color-white);
    padding: 0;
    border: 0;

    .MuiSvgIcon-root{
      height: 18px;
      width: 18px;
    }
  }
  .MuiRadio-root{
    color: var(--color-white);
  }
  .MuiCheckbox-colorPrimary.Mui-checked{
    color: var(--color-primary);
    background-color: var(--color-white);
  }
  .MuiAccordion-root:before{
    display: none;
  }
  .MuiCheckbox-colorPrimary.Mui-checked{
    &:hover{
      background: inherit!important;
    }
  }
  .MuiTypography-body1{
    font-size: 13px;
  }
  .MuiSlider-thumb{
    background-color: var(--color-white);
    width: 20px;
    height: 20px;
    top: 50%;
    // border-left: 10px solid transparent;
    // border-right: 10px solid transparent;
    // border-bottom: 20px solid wheat;
    // transform: rotate(45deg);
  }
  .MuiCheckbox-colorPrimary.Mui-checked:hover{
    background-color: var(--color-white) !important;
  }
  .MuiSlider-rail{
    width: 100%;
    height: 5px;
    display: block;
    opacity: 1;
    position: absolute;
    border-radius: 1px;
    background-color: var(--color-white);
    top: 55%;
  }

  .MuiAccordionSummary-content.Mui-expanded{
    margin: 0!important;
  }

  .MuiAccordion-root.Mui-expanded{
    margin: 0!important;
    margin-bottom: 4px!important;
  }
  .MuiAccordionSummary-content{
    margin: 0!important;
  }
  .MuiAccordionSummary-root.Mui-expanded{
    min-height: 0!important;
  }
  .MuiRadio-colorPrimary.Mui-checked{
    color: var(--color-white) !important;
  }  
  .MuiAccordionDetails-root{
    padding: 0 16px 0 16px !important;
    margin: 0 16px 0 16px !important;
  }
  .MuiIconButton-root{
    padding: 0;
  }
  .pirep-slider{
    margin: 8px 0 0 8px;
    .title{
      display: flex;
      color: var(--color-white) !important;
      font-size: 13px;
      font-weight: 400;
      justify-content: space-between;
    }
    .label{
      
    }
    .all-check{
      .MuiFormControlLabel-root{
        margin-right: -4px;
      }
      .MuiCheckbox-root{
        margin-right: 2px;
      }
    }
    .slider{
      margin: 18px 0 0 0;
      .MuiSlider-valueLabel{
        background: transparent;
        top: 2px;
      }
      .MuiSlider-track{
        top: 56%;
        color: var(--color-secondary);
      }
      .min-distance{
        span[data-index='0'] .MuiSlider-valueLabelCircle{
          ::after{
            content: '-';
          }
        }
        span[data-index='1'] .MuiSlider-valueLabelCircle{
          ::before{
            content: '-';
          }
        }
        &.margin-0{
          span[data-index='0'] .MuiSlider-valueLabelCircle{
            margin-right: 0;
          }
          span[data-index='1'] .MuiSlider-valueLabelCircle{
            margin-left: 0;
          }
        }
        &.margin-10{
          span[data-index='0'] .MuiSlider-valueLabelCircle{
            margin-right: 5px;
          }
          span[data-index='1'] .MuiSlider-valueLabelCircle{
            margin-left: 5px;
          }
        }
        &.margin-20{
          span[data-index='0'] .MuiSlider-valueLabelCircle{
            margin-right: 10px;
          }
          span[data-index='1'] .MuiSlider-valueLabelCircle{
            margin-left: 10px;
          }
        }
        &.margin-36{
          span[data-index='0'] .MuiSlider-valueLabelCircle{
            margin-right: 18px;
          }
          span[data-index='1'] .MuiSlider-valueLabelCircle{
            margin-left: 18px;
          }
        }
        &.margin-40{
          span[data-index='0'] .MuiSlider-valueLabelCircle{
            margin-right: 20px;
          }
          span[data-index='1'] .MuiSlider-valueLabelCircle{
            margin-left: 20px;
          }
        }
      }
    }
  }
}
