.ftr{
  padding: 18px;
  background-color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
  @media (max-width: 650px) {
    position: relative;
  }
 
  p.text {
    color: black;
  }
  &__wrp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 20px;

    @media (max-width: 650px) {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }

  &__rgt{}

  &__rgt__items{
    display: flex;
    align-items: center;
    grid-gap: 18px;
    justify-content: flex-end;
    margin: 0 20px;

    @media (max-width: 650px) {
      justify-content: center;
    }
  }
  &__rgt__item{
    display: flex;
    color: var(--color-dark);

    svg{
      width:25px;
      height: 25px;
    }
  }

  &__fb{
    svg{
      fill: #8791D0;
    }
  }

  &__tw{
    svg{
      fill: #38A1F3;
      
    }
  }

  &__ytb{
    svg{
      fill: #DA4D51;
    }
  }

  &__insta{
    svg{
      fill: #C051DC;
    }
  }
}