.header {
  background-color: var(--color-primary);
  width: 100%;
  z-index: 1000;
  position: relative;

  &--fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
    width: 100%;
  }

  &__wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__tab__text{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-left: 10px;
    color: var(--color-white);
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: none;
    @media screen and (max-width: 1024px) {
      display: block;
    }
  }

  &__lft {
    max-width: 151px;
    width: 100%;
    height: 69px;
    position: relative;
    display: flex;
    align-items: center;

    @media (max-width: 500px) {
      width: auto;
    }
  }

  &__img__area{
    @media (max-width: 1024px) {
      display: none;
    }
  }

  &__menu{
    display: none;
    @media (max-width: 1024px) {
      display: block;
    }
  }

  &__left{
    display: flex;
    width: 120px;
    .zulu-clock{
      min-height: 36px;
      margin-left: 16px;
      border-right: none;
      display: none;
      p{
        font-size: 18px;
      }
      @media screen and (max-width: 1024px) {
        display: block;
      }
    }
  }

  &__mid{
    width: 100%;
    @media (max-width: 1024px) {
      display: none;
    }
  }


  &__img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  &__nav {
    display: flex;
  }

  &__nav__item {
    padding: 24px 32px;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;

    @media screen and (max-width: 1650px) {
      padding: 24px 16px;
    }

    &:hover {
      background-color: var(--color-white);

      .header__nav__anc {
        color: var(--color-primary);

        svg {
          path {
            stroke: var(--color-primary);
          }
        }

        .header__nav__icon {
          transform: rotate(180deg);
        }
      }

      .header__nav__dropdown {
        visibility: visible;
        opacity: 1;
        top: 130%;
      }
    }
  }

  &__icon__area{
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-left: 10px;
  }

  &__nav__icon {
    display: flex;
    transition: all 0.3s ease;
  }

  &__nav__anc {
    display: flex;
    align-items: center;
    grid-gap: 12px;
    font-family: var(--font-main);
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    @media screen and (max-width: 1650px) {
      font-size: 16px;
      line-height: 20px;
    }

  }

  &__nav__dropdown {
    // display: none;
    transition: all 0.3s ease;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 3;
    top: 160%;
    left: 0;
    background-color: var(--color-primary);

    &::before {
      content: '';
      position: absolute;
      top: -20px;
      left: 37%;
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 20px solid var(--color-primary);
    }
  }

  &__nav__dropdown__anc {
    font-family: var(--font-main);
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }

  &__nav__dropdown__list {
    padding: 28px 64px 28px 30px;
    grid-gap: 28px;

  }

  &__nav__dropdown__item {
    // padding: 28px 64px 0 20px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 8px;
      left: -14px;
      width: 5px;
      height: 5px;
      background-color: var(--color-white);
      border-radius: 50%;
    }
  }

  &__rgt__btns {
    grid-gap: 20px;

    @media (max-width: 500px) {
      grid-gap: 15px;
    }
  }

  &__rgt__btn {
    @media (max-width: 500px) {
      font-size: 12px;

      &:last-child {
        margin-right: 10px;
      }
    }
    
  }

  &__rgt__btn--lft {
    font-weight: 300;
    opacity: .7;
    
  }

  &__rgt__btn--rgt {
    font-weight: 400;
    white-space: nowrap;
  }

  &__rgt__btn--map{
    border-radius: 22px;
    background-color: var(--color-white);
    color: var(--color-primary);
    padding: 6px 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    @media (max-width: 1024px) {
      display: none;
    }
  }
}

.responsive__menu{
  position: fixed;
  z-index: 9999;
  background-color: var(--color-primary);
  left: 0px;
  max-width: 220px;
  width: 100%;
  display: flex;
  flex-direction: column;
  // grid-gap: 32px;
  padding: 14px 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;

  @media (max-width: 1024px) {
    left: 0;
  }

  &__show{
    visibility: visible;
    height: 100vh;
    opacity: 1;
    overflow: scroll;
    @media (max-width: 1024px) {
      left: 0;
    }
  }
  &__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    a {
      padding: 14px 28px;
      width: -webkit-fill-available;
    }
  }

  &__link{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  &__dropdown{
    // margin-bottom: 8px;
    display: flex;
    transform: translateY(-2px);
  }

  &__dropdown__list{
    display: flex;
    flex-direction: column;
    // margin-top: -20px;
    grid-gap: 28px;
    // padding: 14px 0 28px 0;
    margin-left: 40px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    
  }

  &__active{
    background-color: var(--color-white);
    .responsive__menu__link{
      color: var(--color-primary);
    }
    svg {
      path {
        stroke: var(--color-primary);
      }
      
    }

    .responsive__menu__dropdown{
      transform: rotate(180deg);
    }
    
  }

  &__dropdown__list-visible{
    padding: 14px 0 28px 0;
height: auto;
overflow: inherit;
opacity: 1;
visibility: visible;
  }

  &__dropdown__link{
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 8px;
      left: -14px;
      width: 5px;
      height: 5px;
      background-color: var(--color-white);
      border-radius: 50%;
    
    }
    
  }

}
.dlg-title {
    background-color: var(--color-primary);
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 20px;
    overflow: hidden;
    .text {
      color: var(--color-white);
    }
}
.airport-selector {
  width: 340px;
  height: 256px;
  overflow-y: visible;
  &-wrap {
    height: 100%;
  }
  &-content {
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .button-area {
      width: 100%;
      button {
        width: 50%;
        background-color: transparent;
        border: none;
        cursor: pointer;
        svg, p{
          color: var(--color-primary);
        }
      }
      .home-airport {
        border-right: solid #00000066 2px;
      }
    }
    .selector-area {
      width: 90%;
    }
    .btn-apply {
      width: 144px;
      height: 40px;
      background-color: var(--color-primary);
      border-radius: 20px;
      color: var(--color-white);
      cursor: pointer;
    }
  }
}