.auto_complete__input__container {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  padding: 5px;
  .auto__complete__input {
    padding: 10px 12px;
    flex-grow: 1;
    padding-right: 32px;
    text-overflow: ellipsis;
    outline: none;
    border: none;
    @media (max-width: 460px) {
      padding: 10px 8px;
      font-size: 12px;
    }
  }
  .auto__complete__label {
    padding: 10px 12px;
    flex-grow: 1;
    text-overflow: ellipsis;
    background-color: var(--color-secondary-highlight);
    padding-right: 40px;
    font-weight: 450;
    font-size: 1rem;
    text-overflow: ellipsis;
    border-radius: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @media (max-width: 460px) {
      padding: 10px 8px;
      font-size: 14px;
    }
  }
}

.auto__complete__icon {
  position: absolute;
  right: 5px;
  top: auto;
  font-size: 16px;
  padding: 2px;
  font-weight: 600;
  cursor: pointer;
  line-height: 1px;
}

.auto__complete__loading {
  height: 15px;
  width: 15px;
}

.list__item {
  padding: 10px;
  &:hover {
    background-color: var(--color-secondary-highlight);
    cursor: pointer;
  }
}

.input__suggestions__container {
  position: relative;
  top: -8px;
  left: 0;
  transition: all 4s ease-in-out 1s;
}
.input__suggestions__content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  background: white;
  min-width: 100%;
  min-height: 100px;
  max-height: 239px;
  overflow-y: auto;
  scrollbar-width: 1px;
  border: 0.5px solid rgb(212, 209, 209);
  display: flex;
  flex-direction: column;
  transition: all 1s ease-in-out 1s;
}

.focused {
  background-color: var(--color-secondary-highlight);
}
