.input__container {
  position: relative;
  display: flex;
  align-items: center;
  input {
    flex-grow: 1;
    padding-right: 32px;
  }
}

.input__loading {
  position: absolute;
  right: 0;
  top: auto;
  font-size: 16px;
  padding: 2px;
  font-weight: 600;
  cursor: pointer;
}

.list__item {
  padding: 10px;
  &:hover {
    background-color: rgb(214, 209, 209);
    cursor: pointer;
  }
}

.input__suggestions__container {
  position: relative;
  top: -8px;
  left: 0;
  transition: all 4s ease-in-out 1s;
}
.input__suggestions__content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  background: white;
  min-width: 100%;
  min-height: 100px;
  max-height: 239px;
  overflow-y: auto;
  scrollbar-width: 1px;
  border: 0.5px solid rgb(212, 209, 209);
  display: flex;
  flex-direction: column;
  transition: all 1s ease-in-out 1s;
}

.focused {
  background-color: rgb(214, 209, 209);
}

.modal__input {
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  padding: 16px 12px;
  text-overflow: ellipsis;

  @media (max-width: 460px) {
    padding: 10px 8px;
    font-size: 12px;
  }
}
