.multi__input__container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 12px;
  padding: 6px 5px;
  border: 1px solid #c4c4c4;

  .multi_values__container {
    display: flex;
    row-gap: 5px;
    column-gap: 5px;
    flex: 1;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    padding-right: 20px;
    @media (max-width: 460px) {
      font-size: 12px;
    }

    span {
      padding: 5px;
      display: flex;
      align-items: center;
      background-color: var(--color-secondary-highlight);
      border: 2px solid var(--color-primary);
      color: var(--color-primary);
      font-size: 16px;
      font-weight: bold;
      border-radius: 5px;
      .close__btn {
        cursor: pointer;
        margin-left: 5px;
      }
    }

    input {
      outline: none;
      border-radius: 4px;
      border: none;
      flex-grow: 1;
      display: inline-block;
      padding: 8px 5px;
      @media (max-width: 460px) {
        font-size: 12px;
      }
    }
  }
}

.multi__input__icon {
  position: absolute;
  right: 5px;
  top: auto;

  font-size: 16px;
  line-height: 1px;
  padding: 2px;
  font-weight: 600;
  cursor: pointer;
}
.multi__input__loading {
  height: 15px;
  width: 15px;
}

.list__item {
  padding: 10px;
  &:hover {
    background-color: var(--color-secondary-highlight);
    cursor: pointer;
  }
}

.input__suggestions__container {
  position: relative;
  top: -8px;
  left: 0;
  transition: all 4s ease-in-out 1s;
}

.input__suggestions__content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  background: white;
  min-width: 100%;
  min-height: 100px;
  max-height: 239px;
  overflow-y: auto;
  scrollbar-width: 1px;
  border: 0.5px solid var(--color-secondary-highlight);
  display: flex;
  flex-direction: column;
  transition: all 1s ease-in-out 1s;
}

.focused {
  background-color: var(--color-secondary-highlight);
}
