.pmodal{
  position: absolute;
  z-index: 99999;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);

  top: 8%;
  left: 40%;
      max-width: 500px;
      width: 100%;
      border-radius: 4px;
      overflow: hidden;
  &__wrp{}

  &__header{
    display: flex;
    justify-content: space-between;
    background-color: var(--color-primary);
    padding: 9px 15px;

  }

  &__title{
    color:var(--color-white);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.6;
  }

  &__close__btn{
    background: transparent;
    font-size: 20px;
    border: none;
    color: var(--color-white);
    cursor: pointer;
  }

  &__close__icon{}

  &__form{
    background-color: var(--color-white);
    padding: 20px 0;
  }

  &__btn__area{
    display: flex;
    justify-content: flex-end;
    grid-gap: 20px;
  }

  &__btn-gray{
    background-color: #868e96;
    box-shadow: 0 2px 6px 0 rgba(134, 142, 150, 0.5);
  }
  &__btn-blue{
    background-color: #3e0d68;
    box-shadow: 0 2px 6px 0 rgba(137, 107, 181, 0.5);
  }
  &__btn-gray, &__btn-blue{
    color: var(--color-white);
    padding: 0.5rem 1.125rem;
    line-height: 1.47;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
  }
}