.departure-advisor{
  position: absolute;
  width: 100%;
  padding-top: 4px;
  text-align: center;
  z-index: 901;
  bottom: 0;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  padding-bottom: 10px;

  .bars-container{
    display: flex;
    width: 60px;
    justify-content: space-around;
    .bar{
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: white;
      border: var(--color-primary) solid 1px;
      border-radius: 4px;
    }
  }
  .label{
    margin-top: 2px;
    align-self: center;
    font-size: 11px;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 1px 2px;
  }

  .MuiSlider-rail{
    opacity: 1;
    border: 1px solid currentColor;
  }
  .MuiSlider-valueLabel {
    line-height: 1;
    padding: 0.2rem 0.4rem;
    background-color: transparent;
    top: 0;
  }
  .MuiSlider-thumb{
    width: 16px;
    height: 16px;
    color: white;
    margin-left: 0.5%;
  }
  &__wrp{
    max-width: 1756px;
    margin: auto;
    padding-inline: 2%;
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__btm__area{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 12px 0 10.1px 0;


    // @media (max-width: 991px) {
    //   grid-template-columns: repeat(2,1fr);
    // }
    @media (max-width: 550px) {
      padding: 8px 0 8px 0;
    }
    
  }

  &__date__area{
    border-left: 1px solid var(--color-white);
    width: 437px;
    @media (max-width: 550px) {
      width: 300px;
    }

    // @media (max-width: 991px) {
    //   &:nth-child(3), &:nth-child(4){
    //     display: none;
    //   }
    // }
    
    P{
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: var(--color-white);
      padding-left: 5px;
      @media (max-width: 550px){
        font-size: 12px;
      }
    }
  }

  &__top__area{
    position: relative;
  }

  &__btn__area{
    position: absolute;
    top: -41px;
    //center
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1000;
    @media (max-width: 550px) {
    top: -32px;
    }

  }

  &__btn{
    border: none;
    font-size: 20px;
    color: var(--color-white);
    padding: 9px 12px;
    display: flex;
    align-items: center;
    background-color: var(--color-primary);
    grid-gap: 8px;
    cursor: pointer;

    @media (max-width: 550px) {
      font-size: 12px;
    }
  }
  
  &__icon{
    transform: rotate(180deg);
  }

  
  &__dot__btn{
    cursor: pointer;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    grid-gap: 4px;
    padding: 0px;
    height: 10px;
    overflow: hidden;
    // &:focus{
    //   border: 2px solid #FFFFFF;
    //   padding: 4px;
    //   border-radius: 5px;

    //   // margin: 4px;
    // }
  }

  &__dot__btn--full{
    height: auto;
  }

  &__dot__area{
    display: grid;
    padding-top: 6px;
    grid-template-columns: repeat(4, 1fr);
    // justify-content: space-between;
    grid-gap: 5px;
    
    }

    &__dot__wrp{
      display: flex;
      justify-content: space-between;
      grid-gap: 2px;
      width: 437px;
      @media (max-width: 550px) {
        width: 300px;
      }
    }

  &__dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;

    @media (max-width: 1024px) {
      width: 8px;
      height: 8px;
    }
    @media (max-width: 550px) {
      width: 4px;
      height: 6px;
    }
  }

  &__btm__wrp{
    // width: 1700px;
    // overflow-x: scroll;
  }
  .time-slider{
    margin: 0 auto;
    color: white;
    width: 100%;
    padding: 8px 0;
  }
  .interval-select{
    color:white;
  }
  .slider-label-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 42px;
    .fade-out{
      opacity: 0;
      transition: all 250ms linear 3s;  
    }
    .bars-container{
      position: relative;
      left: 0;
      margin-top: 10px;
    }
  }
  .blocks-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    color: black;
    z-index: 2;
    .blocks-date{
      // overflow-x: auto;
    }
    ::-webkit-scrollbar{
      width: 8px;
      height: 8px;
      color: var(--color-primary);
    }
    ::-webkit-scrollbar-thumb {
      background: var(--color-secondary);
    }
    .blocks-contents{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: calc(100vw - 80px);
      min-width: 960px;
      height: 100%;
      .horizental-blocks{
        display: flex;
        justify-content: space-between;
        .block{
          width: 12%;
          height: 20px;
          font-size: 14px;
          border-radius: 4px;
          margin: 1px;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          align-content: center;
          align-items: center;
          .bars-container{
            margin-top: -160px;
          }
        }
      }
      .date-container{
        display: flex;
        .date{
          background-color: aliceblue;
          height: 20px;
          font-size: 15px;
          font-weight: 600;
          border-radius: 4px;
          margin: 0 1px;
          text-overflow: clip;
          white-space: nowrap;
        }
      }
    }
    .move-left, .move-right{
      background-color: aliceblue;
      width: 30px;
      height: 52px;
      line-height: 52px;
      margin: 8px;
      cursor: pointer;
    }
    .move-left{
      border-radius: 36px 0 0 36px;
      padding-left: 3px;
      padding-right: 3px;
    }
    .move-right{
      border-radius: 0 36px 36px 0;
    }
    .disabled{
      background-color: gray;
      cursor: default;
      pointer-events: none;
    }
  }
}
.departure-advisor-popup{

  .control-container{
    display: flex;
    color: var(--color-primary);
    justify-content: space-evenly;
    font-size: 1rem;
    align-items: stretch;
    margin: 10px;
    .time-control{
      cursor: pointer;
    }
    .time>p{
      font-size: 1rem;
    }
  }
  .evaluations-container{
    margin: 14px;
    .evaluation-item{
      margin: 6px 20px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .evaluation-item-text{
        margin-left: 20px;
      }
    }
  }
  &-title{
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    padding: 12px 8px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: move;
    .text{
      color: white;
    }
  }  
  &-close{
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
}


.red{
  background-color: #E83328;
}

.yellow{
  background-color: #FEFF05;
}

.green{
  background-color: #027200;
}
.grey{
  background-color: rgb(191, 218, 230);
}
.dot{
  width: 6px;
  height: 6px;
  border: #44442288 solid 1px;
  margin: 1px 2px;
}
.circle{
  border-radius: 50%;
}
.triangle{
  width: 0; 
  height: 0; 
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;          
  border-bottom: 7px solid red;
  background-color: transparent;
  border-top: none;
}
.twice{
  transform: scale(2);
}
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
