.pos_relative {
  position: relative;

  .map__btns__container {
    position: absolute;
    right: 0;
    top: 108px;
    z-index: 899;
    display: flex;
    margin-right: 10px;
    flex-direction: column;

    .user__action__btns {
      background-color: var(--color-white);
      margin: 5px 0px;
      color: var(--color-primary);
      border-radius: 4px;
      padding: 5px;
      height: 36px;
      width: 36px;
      font-size: 2em;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
}
