.dialog__modal {
  .dialog__box {
    position: absolute;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 340px;
    max-width: 500px;
    // min-height: 300px;
    box-shadow: 24;
    padding: 0;
    border: none;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    &__heading__container {
      background: var(--color-primary);
      color: var(--color-white);
      font-family: var(--font-family-sans-serif);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 9px 15px;
      h4{
        color: var(--color-white);
        font-family: var(--font-family-sans-serif);
        font-size: 1rem;
      }
      .icon__button{
        cursor: pointer;
      }
    }
    &__body{
        padding:20px;
        font-size: 1rem;
        font-family: var(--font-family-sans-serif);
    }
    &__footer{
      display: flex;
      justify-content:flex-end;
      padding:20px;
      column-gap: 5px;
    }
  }
  @media (max-width: 460px) {
    .dialog__box {
      max-width: 90%;
    }
  }
}
