.dlg-close{
  padding: 0;
  margin: 0;
  border: 0;
  height: 32px;
  background: transparent;
  cursor: pointer;
  svg{
    width: 32px;
    height: 32px;
  }
}
.route-editor {
  max-width: 387px;
  @media (max-width: 460px) {
    max-width: 314px;
  }

  button {
    cursor: pointer;
  }

  &__top__close {
    background: transparent;
    border: none;
    color: var(--color-white);
    font-size: 20px;
  }

  &__top {
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 20px !important;
  }

  &__top__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    padding: 12px 0;
    width: 100%;
    color: var(--color-white);
  }
  &__top__close {
    padding: 12px 0;
  }

  &__tabs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
  }

  &__tab {
    background: transparent;
    border: none;
    font-size: 24px;
    color: var(--color-primary);
    padding: 14px 4px;
    border-right: 1px solid #c4c4c4;

    @media (max-width: 1024px) {
      padding: 10px 4px;
    }
  }

  &__tab__text {
    @media (max-width: 460px) {
      font-size: 12px;
    }
  }

  &__form {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    grid-gap: 20px;

    @media (max-width: 460px) {
      padding: 10px 10px;
      grid-gap: 10px;
    }
  }

  &__label {
    @media (max-width: 460px) {
      font-size: 12px !important;
    }
  }

  &__input__grp {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;

    @media (max-width: 460px) {
      grid-gap: 5px;
    }
  }

  &__input {
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    padding: 16px 12px;

    &__suggestions__container {
      position: relative;
      top: -8px;
      left: 0;
      transition: all 4s ease-in-out 1s;
    }
    &__suggestions__content {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 99;
      background: white;
      min-width: 100%;
      min-height: 100px;
      max-height: 300%;
      overflow-y: auto;
      scrollbar-width: 1px;
      border: 0.5px solid white;
      display: flex;
      flex-direction: column;
      transition: all 4s ease-in-out 1s;
    }
    @media (max-width: 460px) {
      padding: 10px 8px;
      font-size: 12px;
    }
  }

  &__label {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
  }

  &__swd {
    display: flex;
    grid-gap: 36px;
    align-items: center;
  }

  &__numin {
    display: flex;
    position: relative;
    border: 1px solid #c4c4c4;
    border-radius: 20px;
    height: 40px;
    width: 144px;
    overflow: hidden;
    margin-top: 10px;
    font-size: 1.3rem;
    font-weight: 500;
    justify-content: space-between;
    align-items: center;
  }

  &__lft {
    border: 1.5px solid #3f0c69;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 4px;
  }

  &__rgt {
    border: 1.5px solid #3f0c69;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 4px;
  }

  &__input__num {
    width: 64px;
    height: 100%;
    text-align: center;
    border: none;
    font-size: 1rem;
    font-weight: 500;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:focus {
      outline: none;
    }
  }

  &__icon--mi {
    font-size: 24px;
  }

  &__btn__grp {
    display: flex;
    align-items: center;
    grid-gap: 20px;
    justify-content: center;
    padding-bottom: 20px;
    background-color: white;
  }

  &__btn--btm {
    background: #3f0c69;
    border-radius: 22px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding: 10px 0;
    width: 160px;
    border: 0;
    color: var(--color-white);

    @media (max-width: 460px) {
      width: 140px;
      font-size: 12px;
    }
  }
  .use-forcast{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__txt {
    font-size: 18px;
    padding-left: 20px;
    margin-bottom: 20px;

    @media (max-width: 460px) {
      font-size: 12px;
    }
  }
}

.react-switch {
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  margin-top: 10px;
}

.react-switch-bg {
  background: var(--color-white);
  // background: var(--color-primary)!important;
}

.react-switch-handle {
  background-color: #3f0c69 !important;
}

.input__container {
  position: relative;
  display: flex;
  align-items: center;
  input {
    flex-grow: 1;
  }
}

.input__loading {
  position: absolute;
  right: 0;
  width: 25px;
  padding: 2px;
  font-weight: 600;
  cursor: pointer;
  height: 25px;
}

.list__item {
  padding: 10px;
  &:hover {
    background-color: gray;
    cursor: pointer;
  }
}

.route-label {
  background-color: #1bc189;
  color: whitesmoke;
  border-radius: 10px;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
}


.route__modal__box{
  display: flex;
  flex-direction: column;
  padding: 4px;
  flex: 1;
  .button{
    display:flex;
    flex-direction: row;
    align-items:center;
  }
  .buttonDiv{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin:40px 0px 6px 0px ; 
  }
  .route__modal__box__2{
    display: flex;
    flex-direction: column;
    padding-top: 4px;
    padding-bottom:4px;
    .route__modal__box__input1{
      display: flex;
      flex-direction: row;
      border: 1px solid rgb(234, 230, 230);
      .label{
        padding-bottom: 10px;
        font-size: larger;
      }
      .route__modal__box__input{
        padding: 16px;
        border: none;
      }
      .route__modal__box__input:focus{
        outline: none
      }
      .route__modal__box__icon{
        padding:16px;
        background-color: lightgray;
      }
    }
  }
}